* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


#navbar,
footer {
    display: flex;
    justify-content: space-between;
    margin: .5em 1em;
    color: #555;
}

#navbar .nav-link a,
footer .nav-link a {
    padding: .3em .7em;
    color: inherit;
}

#navbar .nav-link:hover,
footer .nav-link a:hover {
    text-decoration: underline;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right,
.footer-right {
    color: #222;
}

.hamburger img {
    width: 35px;
}

.btn {
    padding: .7em;
    border-radius: 5px;
    border: none;
}

.sign-in {
    background-color: blue;
    color: #fff;
}

input {
    border: 0;
}

.container {
    display: block;
    margin: 20vh auto;
    text-align: center;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;
    border: 1px solid #999;
    border-radius: 50px;
    max-width: 450px;
    height: 35px;
}

.searchbar input {
    width: 90%;
    height: 90%;
    font-size: 20px;
}

.searchbar img {
    height: 15px;
    margin: 0 .5em;
}

.container .btn {
    margin: .3em;
}

footer {
    left: 0;
    bottom: 0;
    background: #f2f2f2;
    padding: 1em;
    font-size: 14px;
    margin-top: 41vh;
}

.footer-left, .footer-right {
    display: flex;
}